
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Best Movies of 2024</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1>Best Movies of 2024 (as of Q2/2024)</h1>
        <h2>
            <span th:text="'Hello, User' "></span>
        </h2>
    </div>

    <ul>
        <li th:each="movie : ${movies}">
            <span th:text="${movie.title}">Movie Title</span> -
            <span th:text="${movie.runtime}">Runtime</span> minutes -
            <span th:text="${movie.releaseDate}">Release Date</span>
        </li>
    </ul>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
